<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.net.otzberg.oaHelper</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Statistics</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>OA Searches</string>
			<key>Key</key>
			<string>oa_search</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>OA Found</string>
			<key>Key</key>
			<string>oa_found</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>core.ac.uk PDF</string>
			<key>Key</key>
			<string>core_pdf</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Bookmark Count</string>
			<key>Key</key>
			<string>bookmark_count</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Core Recommendations Found</string>
			<key>Key</key>
			<string>recommendation_count</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Core Recommendations Tapped</string>
			<key>Key</key>
			<string>recommendation_view</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Proxy Actions</string>
			<key>Key</key>
			<string>proxy_count</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Last Synced</string>
			<key>Key</key>
			<string>sync_date</string>
			<key>DefaultValue</key>
			<string>-</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Bookmark Support</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Bookmark Support</string>
			<key>Key</key>
			<string>bookmarks</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Bookmark Sync (iCloud)</string>
			<key>Key</key>
			<string>bookmarks_icloud</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Store Bookmarks in Zotero</string>
			<key>Key</key>
			<string>zotero</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reset Bookmarks from iCloud</string>
			<key>Key</key>
			<string>reset_bookmarks_icloud</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Additional Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Only use unpaywall.org for alternatives</string>
			<key>Key</key>
			<string>only_unpaywall</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Offer OpenAccessButton</string>
			<key>Key</key>
			<string>open_access_button</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show core.ac.uk Recommendations</string>
			<key>Key</key>
			<string>recommendation</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show OpenCitations Data</string>
			<key>Key</key>
			<string>openCitations</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Europe PMC for search</string>
			<key>Key</key>
			<string>epmc</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Institute Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Support Proxy</string>
			<key>Key</key>
			<string>useProxy</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Proxy Prefix</string>
			<key>Key</key>
			<string>proxyPrefix</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Inst. Request Form</string>
			<key>Key</key>
			<string>useIll</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Request Form URL</string>
			<key>Key</key>
			<string>illUrl</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Institute ID for Proxy Settings</string>
			<key>Key</key>
			<string>instituteId</string>
			<key>DefaultValue</key>
			<string>-</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Zotero Settings Details</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>API Key</string>
			<key>Key</key>
			<string>oauth_token</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>User ID</string>
			<key>Key</key>
			<string>userID</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>User Name</string>
			<key>Key</key>
			<string>username</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Collection ID</string>
			<key>Key</key>
			<string>collectionID</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
